Aula 2

Prática (input)

In [2]:
valor1 = input('digite um número inteiro: ')
valor2 = input('digite outro número inteiro: ')

In [3]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

Listas

In [4]:
L = []

In [5]:
L = list()

Lista com 3 elementos

In [6]:
dias = [3,1,10]

In [7]:
dias[1]

1

In [8]:
dias[2]

10

Modificando listas

In [9]:
Z = [3,8,9]

In [10]:
Z[0] = 7

In [11]:
Z

[7, 8, 9]

3

Clonando listas

In [12]:
a = [81,82,83]

In [13]:
b = a[:]       # cria um clone com fatia

In [14]:
print(a == b)

True

In [15]:
print(a is b)

False

In [16]:
b[0] = 5

In [17]:
print(a)

[81, 82, 83]

In [18]:
print(b)

[5, 82, 83]

Fatiamento de Listas

In [19]:
uma_lista = ['a', 'b', 'c','d','e','f']

In [20]:
print(uma_lista[1:3])

['b', 'c']

In [21]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [22]:
print(uma_lista[3:])

['d', 'e', 'f']

In [23]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
a = [1,2,3]
b = a[:]
b[0] = 5
print(a[3])

IndexError: list index out of range

Praticar Listas

In [ ]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
minhaLista[5] = "pitomba"
minhaLista[3] = "Cibele"
minhaLista = minhaLista + [76]

In [ ]:
Tupla com parênteses

In [ ]:
tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [ ]:
tupla com apenas um elemento

In [ ]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [ ]:
CRIANDO UM DICIONÁRIO

In [ ]:
dicio = {'chave': 'valor'}
print(type(dicio))

<class 'dict'>

In [29]:
d ={'laranjas':15, 'bananas':35, 'siriguelas':12}
d['bananas']

35

In [30]:
d['pitomba'] = 20
len(d)

4

In [31]:
'pitomba' in d

True

In [32]:
'pars' in d

False

In [33]:
del d['laranjas']
'laranjas' in d

False

In [35]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
print([1,2] + [3,4])
print(frutas + [6,7,8,9])

print([0] * 4)
print([1,2,["oi","tchau"]]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]